<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML</title>

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
        #sketch {
            height: 28px;
            width: 28px;
            background: grey;

            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="sketch">
        <canvas id="paint" width="28" height="28"></canvas>
    </div>

    <button id="button">pressme</button>

    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
